.matrix {
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    
}

.matrix-row {
    display: flex;
    flex-direction: row;
   
}

.matrix-item {
    width:25px ;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 3px solid #320303;
    color:black
}

.black {
    background-color: rgb(34, 27, 27);
 
}

.white {
    background-color: rgb(233, 209, 209);
  
}
.DarkBlue {
    background-color: rgb(50, 8, 89);
    color: rgb(99, 9, 225);
}
.green{
    background-color:rgb(71, 93, 52)
}

.yellow{
    background-color:rgb(56, 232, 37)
}